body{
    background-color: black;
    font-family: sans-serif;
}

.navbar-brand{
    color: #079992;
}

.logOut{
    border-color: #079992;
    color: #079992;
}

.logOut:hover{
    color: white;
    border-color: #079992;
    background-color: #079992;
}










.container{
    margin-top: 30px;
}

.alert{
    border: #04645f solid 2px;
    background-color: #0cc5bc;
    color: rgb(255, 255, 255);
}

.form-control{
    border-color: #079992;
}
.searchButton{
    border-color: #079992;
    color: #079992;
}

.searchButton:hover{
    color: white;
    border-color: #079992;
    background-color: #079992;
}

.ensembleCartes{
    margin-top: 30px;
}

.card{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #485460;
    animation: fadeIn;
    animation-duration: 3s;
    height: 750px;
}

.card-title, .card-text{
    color: White;
}

.badge-pill, .descriptionSerie {
    margin-bottom: 15px;
}


.scroll {
    max-height: 100px;
    overflow-y: auto;
    
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

 
.lienSite{
    margin-top: 6px;
}

.card-footer{
    background-color: #1e272e;
}

.list-group-item{
    background-color: #f1f2f6;
}

.suppr{
    margin-top: 5px;
}

.fa-times-circle{
    color: red;
    outline: none;
}


.fa-star{
    color: rgb(245, 210, 12);
}